<h2>{{ titre }}</h2>

<main>
    <a routerLink="/add">
        <button mat-flat-button color="accent">Ajouter Assignment</button>
    </a>

    <mat-list *ngFor="let a of assignments">
        <mat-card id="assignment-card">
           <mat-grid-list id="assignment-header" cols="10" rowHeight="150">
            
                <mat-grid-tile colspan="8"> 
                    <div id="header-1-content"> 
                        <div id="photo"> <img class="resize-image" src="https://thispersondoesnotexist.com/image" alt="Avatar"/> </div> 
                        <div> 
                            <div> {{a.nom}} </div> 
                            <div> {{a.matiere}} </div>
                        </div>
                    </div> 
                </mat-grid-tile>

                <mat-grid-tile colspan="2"> 
                    <div id="header-2-content"> 
                        <div> {{a.dateDeRendu | date}} </div> 
                        <button mat-raised-button color="primary" [disabled]="a.rendu || verifyDateTooLate(a.dateDeRendu,a.rendu)">
                            <ng-template [ngIf]="a.rendu">Rendu</ng-template>
                            <ng-template [ngIf]="!a.rendu && !verifyDateTooLate(a.dateDeRendu,a.rendu)">Rendre</ng-template>
                            <ng-template [ngIf]="verifyDateTooLate(a.dateDeRendu,a.rendu)">Trop tard</ng-template>
                        </button>
                    </div>
                </mat-grid-tile>

            </mat-grid-list>
            <div> 
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>
                            <mat-panel-description>
                                Currently I am 
                            </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                    </mat-accordion>
            </div>
        </mat-card>
    </mat-list>

    <mat-paginator
        [length]="total"
        [pageSize]="limit"
        [pageSizeOptions]="[5, 10, 20, 25, 50, 75, 100]"
        [pageIndex]="page-1"
        aria-label="Select page"
        (page)="pageChanged($event)"
    >
    </mat-paginator>
</main>
