<h2>{{ titre }}</h2>

<main>
    <a routerLink="/add">
        <button mat-flat-button color="accent">Ajouter Assignment</button>
    </a>

    <br>
    <input [(ngModel)]="searchQuery" (keyup.enter)="search()" placeholder="Search assignments">
    <button (click)="search()">Search</button>
  
    <mat-list *ngFor="let a of assignments">
        <mat-card id="assignment-card">
           <mat-grid-list id="assignment-header" cols="10" rowHeight="150">
            
                <mat-grid-tile colspan="8"> 
                    <div id="header-1-content"> 
                        <div id="photo"> <img class="resize-image" src="https://thispersondoesnotexist.com/image" alt="Avatar"/> </div> 
                        <div> 
                            <div id="nom-de-rendu"> {{a.nom}} </div> 
                            <div id="nom-de-matiere"> {{a.matiere}} </div>
                        </div>
                    </div> 
                </mat-grid-tile>

                <mat-grid-tile colspan="2"> 
                    <div id="header-2-content"> 
                        <div> {{a.dateDeRendu | date}} </div> 
                        <button mat-raised-button color="primary" [disabled]="a.rendu || verifyDateTooLate(a.dateDeRendu,a.rendu)" (click)="rendu(a._id)">
                            <ng-template [ngIf]="a.rendu">Rendu</ng-template>
                            <ng-template [ngIf]="!a.rendu && !verifyDateTooLate(a.dateDeRendu,a.rendu)">Rendre</ng-template>
                            <ng-template [ngIf]="verifyDateTooLate(a.dateDeRendu,a.rendu)">Trop tard</ng-template>
                        </button>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Avoir plus de détails
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-grid-list cols="10">
                            <mat-grid-tile colspan="9"> 
                                <div id="header-1-content"> 
                                    <div id="photoProf"> <img class="resize-image" src="https://thispersondoesnotexist.com/image" alt="Avatar"/> </div> 
                                    <div id="nom-de-matiere"> {{a.remarque}} </div>
                                    <div id="nom-de-matiere" style="font-style: italic"> 
                                        <ng-template [ngIf]="!a.rendu" >Aucune remarque, le devoir n'est pas rendu</ng-template>
                                    </div> 
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="1"> 
                                <div id="header-2-content"> 
                                    <div id="note"> 
                                        <ng-template [ngIf]="a.rendu">{{a.note}}/20</ng-template>
                                    </div> 
                                    <ng-template [ngIf]="!a.rendu"></ng-template>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>    
                    </mat-expansion-panel>
                </mat-accordion>
        </mat-card>
    </mat-list>

    <mat-paginator
        [length]="total"
        [pageSize]="limit"
        [pageSizeOptions]="[5, 10, 20, 25, 50, 75, 100]"
        [pageIndex]="page-1"
        aria-label="Select page"
        (page)="pageChanged($event)"
    >
    </mat-paginator>
</main>
